<section class="benefits" id="benefits">
    <div class="container">
    <h2 class="benefits-title">Benefits of working with me</h2>
<div class="benefits-list-container">
    <ul class="benefits-list">
        <div class="benefits-item-container">
            <li class="benefits-item">
                <div class="benefits-div">
                    <svg class="benefits-icon">
                        <use href="./img/svg/icons-2.svg#icon-user-01"></use>
                    </svg>
                </div>
                <h3 class="benefits-heading">Expertise</h3>
                <p class="benefits-text">As a highly experienced developer, I have deep knowledge of programming and website development.</p>
            </li>
        </div>
        <div class="benefits-item-container">
            <li class="benefits-item">
                <div class="benefits-div">
                    <svg class="benefits-icon">
                        <use href="./img/svg/icons-2.svg#icon-message-chat-circle"></use>
                    </svg>
                </div>
                <h3 class="benefits-heading">Communication</h3>
                <p class="benefits-text"> Understanding your needs and wants is my priority and I am always open to discussions and corrections.</p>
            </li>
        </div>
        <div class="benefits-item-container">
            <li class="benefits-item">
                <div class="benefits-div">
                    <svg class="benefits-icon">
                        <use href="./img/svg/icons-2.svg#icon-brush-01"></use>
                    </svg>
                </div>
                <h3 class="benefits-heading">Art</h3>
                <p class="benefits-text">Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life. </p>
            </li>
        </div>
        <div class="benefits-item-container">
            <li class="benefits-item">
                <div class="benefits-div">
                    <svg class="benefits-icon">
                        <use href="./img/svg/icons-2.svg#icon-Icon"></use>
                    </svg>
                </div>
                <h3 class="benefits-heading">Urgent execution</h3>
                <p class="benefits-text">I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
            </li>
        </div>
    </ul>
    <div class="benefits-button-container"><button class="benefits-button">Order the project</button></div>
 </div>
</div>
</section>