<section class="faq">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-item">
        <div class="faq-box-question">
          <h3 class="faq-item-title">
            What programming languages ​​are most often used in your project?
          </h3>
          <button type="button" class="faq-btn">
            <svg class="faq-arrow" width="20" height="20">
              <use href="../img/svg/icons-2.svg#icon-Icon-1"></use>
            </svg>
          </button>
        </div>
        <div class="faq-box-answer">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </div>
      </li>

      <li>
        <div class="faq-box-question">
          <h3 class="faq-item-title">
            What are the deadlines for the project?
          </h3>
          <button type="button" class="faq-btn">
            <svg class="faq-arrow" width="20" height="20">
              <use href="../img/svg/icons-2.svg#icon-Icon-1"></use>
            </svg>
          </button>
        </div>
        <div class="faq-box-answer">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </div>
      </li>

      <li>
        <div class="faq-box-question">
          <h3 class="faq-item-title">What payment methods do you accept?</h3>
          <button type="button" class="faq-btn">
            <svg class="faq-arrow" width="20" height="20">
              <use href="../img/svg/icons-2.svg#icon-Icon-1"></use>
            </svg>
          </button>
        </div>
        <div class="faq-box-answer">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </div>
      </li>

      <li>
        <div class="faq-box-question">
          <h3 class="faq-item-title">How can I contact you?</h3>
          <button type="button" class="faq-btn">
            <svg class="faq-arrow" width="20" height="20">
              <use href="../img/svg/icons-2.svg#icon-Icon-1"></use>
            </svg>
          </button>
        </div>
        <div class="faq-box-answer">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </div>
      </li>

      <li>
        <div class="faq-box-question">
          <h3 class="faq-item-title">Do you provide advice or support?</h3>
          <button type="button" class="faq-btn">
            <svg class="faq-arrow" width="20" height="20">
              <use href="../img/svg/icons-2.svg#icon-Icon-1"></use>
            </svg>
          </button>
        </div>
        <div class="faq-box-answer">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </div>
      </li>

      <li>
        <div class="faq-box-question">
          <h3 class="faq-item-title">
            What does the process of developing a software product look like
            from idea to implementation?
          </h3>
          <button type="button" class="faq-btn">
            <svg class="faq-arrow" width="20" height="20">
              <use href="../img/svg/icons-2.svg#icon-Icon-1"></use>
            </svg>
          </button>
        </div>
        <div class="faq-box-answer">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </div>
      </li>
    </ul>
  </div>
</section>
