<header class="header">
  <a href="./index.html" class="logo-link">
    <picture>
      <source
        srcset="
          ./img/img-header/logo.webp    1x,
          ./img/img-header/logo@2x.webp 2x,
          ./img/img-header/logo@3x.webp 3x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./img/img-header/logo.jpg    1x,
          ./img/img-header/logo@2x.jpg 2x,
          ./img/img-header/logo@3x.jpg 3x
        "
        type="image/jpg"
      />
      <img src="./img/img-header/logo.jpg" alt="lloyd" class="logo-img" />
    </picture>
    <span class="logo-text">jefferson*</span>
  </a>
  <div class="desktop-menu">
    <button class="desktop-menu-btn" type="button">Menu</button>
    <nav class="navigation-menu">
      <ul class="menu-list">
        <li class="menu-item">
          <a href="#about-me" class="menu-link">About me</a>
        </li>
        <li class="menu-item">
          <a href="#benefits" class="menu-link">Benefits</a>
        </li>
        <li class="menu-item">
          <a href="#projects" class="menu-link">Projects</a>
        </li>
        <li class="menu-item"><a href="#faq" class="menu-link">FAQ</a></li>
      </ul>
    </nav>
  </div>

  <a href="#work-together" class="order-btn">Order the project</a>
</header>
