<section class="hero">
    <div class="container hero__wrapper">
        <div class="hero__title">
            <h1 class="hero__text">
                <div class="hero__animation--top">hello.</div>
                <div class="hero__animation--right">i'm fullstack developer lloyd jefferson.</div>
            </h1>
        </div>
        <ul class="hero__list">
            <li class="hero__item">
                <a class="hero__link" href="https://www.instagram.com/goitclub/" target="_blank"
                    aria-label="Instagram link">ig</a>
            </li>
            <li class="hero__item">
                <a class="hero__link" href="https://www.youtube.com/c/GoIT" target="_blank"
                    aria-label="YouTube link">yt</a>
            </li>
            <li class="hero__item">
                <a class="hero__link" href="https://www.facebook.com/goITclub/" target="_blank"
                    aria-label="Facebook link">fb</a>
            </li>
            <li class="hero__item">
                <a class="hero__link" href="" target="_blank" aria-label="GitHub link">gh</a>
            </li>
            <li class="hero__item">
                <a class="hero__link hero__email" href="mailto:lloydjefferson@gmail.com" target="_blank"
                    aria-label="Contact email">
                    lloydjefferson@gmail.com</a>
            </li>
        </ul>
    </div>
</section>