<div class="modal-overlay js-modal">
  <div class="modal">
    <button class="modal-close-button js-close-modal" type="button">
      <svg class="modal-close-icon">
        <use href="../img/svg/icons-2.svg#icon-x"></use>
      </svg>
    </button>
    <h3 class="modal-title">Thank you for your interest in cooperation!</h3>
    <p class="modal-text">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </div>
</div>
