<section class="projects" id="projects">
  <div class="container">
    <h2 class="title">Projects</h2>

    <div class="swiper">
      <ul class="project-list swiper-wrapper">
        <li class="project-item swiper-slide">
          <div class="project-text">
            <ul class="skills-list">
              <li class="skill-item">#react</li>
              <li class="skill-item">#js</li>
              <li class="skill-item">#node js</li>
              <li class="skill-item">#git</li>
            </ul>
            <p class="slogan">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://jana-mikhierieva.github.io/js-winners-team/"
              class="main-project-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="project-picture">
            <picture class="thumb-collect">
              <source
                srcset="
                  /img/img-project/image-project1-desk.jpg    1x,
                  /img/img-project/image-project1-desk@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /img/img-project/image-project1-desk.jpg    1x,
                  /img/img-project/image-project1-desk@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/img-project/image-project1-mobile.jpg    1x,
                  /img/img-project/image-project1-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="collect-img"
                src="/img/img-project/image-project1-mobile.jpg"
                alt="Expand your mind, reading a book"
              />
            </picture>
          </div>
        </li>
        <li class="project-item swiper-slide">
          <div class="project-text">
            <ul class="skills-list">
              <li class="skill-item">#react</li>
              <li class="skill-item">#js</li>
              <li class="skill-item">#node js</li>
              <li class="skill-item">#git</li>
            </ul>
            <p class="slogan">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://jana-mikhierieva.github.io/js-winners-team/"
              class="main-project-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="project-picture">
            <picture class="thumb-collect">
              <source
                srcset="
                  /img/img-project/image-project2-desk.jpg    1x,
                  /img/img-project/image-project2-desk@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /img/img-project/image-project2-desk.jpg    1x,
                  /img/img-project/image-project2-desk@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/img-project/image-project2-mobile.jpg    1x,
                  /img/img-project/image-project2-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="collect-img"
                src="/img/img-project/image-project2-mobile.jpg"
                alt="petlove"
              />
            </picture>
          </div>
        </li>
        <li class="project-item swiper-slide">
          <div class="project-text">
            <ul class="skills-list">
              <li class="skill-item">#react</li>
              <li class="skill-item">#js</li>
              <li class="skill-item">#node js</li>
              <li class="skill-item">#git</li>
            </ul>
            <p class="slogan">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              href="https://jana-mikhierieva.github.io/js-winners-team/"
              class="main-project-link"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="project-picture">
            <picture class="thumb-collect">
              <source
                srcset="
                  /img/img-project/image-project3-desk.jpg    1x,
                  /img/img-project/image-project3-desk@2x.jpg 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /img/img-project/image-project3-desk.jpg    1x,
                  /img/img-project/image-project3-desk@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/img-project/image-project3-mobile.jpg    1x,
                  /img/img-project/image-project3-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="collect-img"
                src="/img/img-project/image-project3-mobile.jpg"
                alt="vocab builder"
              />
            </picture>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>

      <div class="button-wrapper">
        <button class="button left-button" type="button">
          <svg class="left-icon icon" width="25" height="25">
            <use href="../img/svg/icons-2.svg#icon-arrow-left-black"></use>
          </svg>
        </button>
        <button class="button right-button" type="button">
          <svg class="right-icon icon" width="25" height="25">
            <use href="../img/svg/icons-2.svg#icon-arrow-left-black"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
