<section class="reviews">
    <div class="container">
        <h2 class="reviews__heading">REVIEWS</h2>
        <div class="swiper">
            <ul class="reviews__list swiper-wrapper js-reviews"></ul>
            <div class="reviews__buttons js-reviews-btn">
                <button class="reviews__btn reviews__btn--prev js-swiper-prev" type="button">
                    <svg width="32px" height="32px">
                        <use href=""></use>
                    </svg>
                </button>
                <button class="reviews__btn reviews__btn--next js-swiper-next" type="button">
                    <svg width="32px" height="32px">
                        <use href=""></use>
                    </svg>
                </button>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <p class="reviews__error js-text-error">Not found</p>
    </div>
</section>