.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.about-me {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
}

.about-me-container {
    padding-top: 64px;
    padding-bottom: 32px;
}



.first-section-about-me {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    margin-bottom: 32px;
}



.text-about-me-container {
    background-color: #242527;
    border-radius: 24px;
}

.text-about-me {
    width: 279px;
    height: 196px;
    box-sizing: content-box;

    padding: 32px 32px 272px 32px;

    color: #FAFAFA;
    text-transform: uppercase;
    
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.06em;
}

.color-word-1 {
    color: #ED3B44;
}

.color-word-2 {
    color: rgba(250, 250, 250, 0.4);
}

.img-about-me {
    border-radius: 24px;
}

.icon-about-me {
    box-sizing: content-box;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    padding: 9px;
    transform: rotate(180deg);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 16px;
    height: 16px;
}

/*--------- Triger ---------*/

.ac {
    background: none !important;
    border: none !important;
    padding-bottom: 20px !important;
}

.ac .ac-trigger {
    text-transform: uppercase !important;

    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 150% !important;
    letter-spacing: -0.02em !important;

    color: rgba(250, 250, 250, 0.4)!important;
}


.ac-panel-item {
    padding-top: 8px!important;
}

.ac-panel-list {
    display: flex !important;
    flex-direction: column !important;
    
    row-gap: 32px !important;
}

.ac .ac-panel
.ac-text {
    color: #FAFAFA !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 150% !important;
    letter-spacing: -0.02em !important;
    padding: 0 !important;
}

.ac {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2) !important;
    margin-bottom: 32px !important;
    margin-top: 0 !important;
}

.ac:last-child {
    margin-bottom: 0 !important;
}

.ac .ac-trigger {
    display: flex!important;
    justify-content: space-between;
    align-items: start;
    padding: 0!important;
}

.list-roles {
    display: flex !important;
    flex-direction: column !important;
    
    row-gap: 10px !important;
    padding-bottom: 32px !important;
}

.education-list {
    display: flex !important;
    flex-direction: column !important;
   
    row-gap: 10px !important;
    padding-bottom: 32px !important;
}

.education-list-item {
    max-width: 465px !important;
}

.ac .ac-trigger::after {
    content: ""!important; 
}

.icon-about-me {
    transform: rotate(0deg);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ac.is-active .ac-trigger .icon-about-me {
    transform: rotate(180deg); 
}
/* ----------Swiper------------ */
.about-wrapper {
    display: flex;
    align-items: center;
    width: 343px;
    min-width: 0;
    padding-top: 32px;
    margin: auto;
}

/* .swiper.about-swiper */
.about-swiper {
    width: 260px;
    height: 130px;
}
.swiper-wrapper.custom-wrapper.swiper-list{
    scroll-behavior: smooth;
}

.swiper-slide.swiper-item {
    border-radius: 50%;
    border: 1px solid rgba(170, 164, 164, 0.2);
    width: 130px !important;
    height: 130px !important;
    margin-right: 0 !important;
}
.swiper-slide.custom-slide.swiper-item {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-next {
    display: block;
    margin-left: 55px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    fill: none;
    stroke: #3b3b3b;
    stroke-width: 2px;
    opacity: 1 !important;

}
.right-arrow.icon {
    transform: rotate(180deg);
}
.swiper-slide-active.custom-slide.swiper-item {
    background-color: #ed3b44;
    transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.skill {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
}
/* --------tablet----------- */
@media only screen and (min-width: 768px) {
    
    .first-section-about-me {
        margin-bottom: 64px;
    }

    .about-me {
        width: 768px;
    }

    .img-about-me {
        width: 704px;
        height: 700px;
    }

    .text-about-me {
        width: 552px;
        height: 200px;
    
        padding: 64px 64px 436px 64px;
    
        font-size: 38px;
        line-height: 105%;
    }
    
    .icon-about-me {
        width: 20px;
        height: 20px;
    }
    
    /*--------- Triger ---------*/

    .ac {
        padding-bottom: 32px !important;
    }
    .about-wrapper {
        width: 704px;
        padding-top: 64px;
    }
    .about-swiper {
    width: 600px;
    height: 205px;
    }
    .swiper-slide.swiper-item {
        width: 200px !important;
        height: 200px !important;
    }
    .custom-next {
        margin-left: 64px;
        width: 40px;
        height: 40px;
    }
    .skill {
        font-size: 20px;
    }
}
/* --------laptop----------- */
@media only screen and (min-width: 1440px) {

    .about-me {
        width: 1440px;
    }

    .first-section-about-me {
        margin-bottom: 96px;
        flex-direction: row;
        column-gap: 16px;
    }
    
    .about-me-container {
        padding-top: 96px;
    }
    
    .text-about-me {
        width: 552px;
        height: 200px;
        box-sizing: content-box;
    
        padding: 64px 64px 436px 64px;
    
        color: #FAFAFA;
        text-transform: uppercase;
        
        font-size: 38px;
        line-height: 105%;
        letter-spacing: -0.06em;
    }
    
    /*--------- Triger ---------*/
    
    .ac {
        padding-bottom: 32px !important;
    }

    .ac-panel-item {
        padding-top: 0px!important;
    }
    
    .ac-panel-list {
        padding-left: 688px !important;
    }

    .list-roles {
        padding-left: 688px !important;
    }
    
    .education-list {
        padding-left: 688px !important;
    }

    .ac-panel-item {
        max-width: 612px !important;
    }
    .about-wrapper {
        padding-top: 96px;
        width: 1312px;
    }
    .about-swiper {
    width: 1200px;
    }
    .custom-next {
        margin-left: 72px;
    }
}
