.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.about-me-container {
  padding-top: 64px;
  padding-bottom: 32px;
}

.first-section-about-me {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  margin-bottom: 32px;
}

.img-about-me {
  max-width: 100%;
}

.text-about-me-container {
  background-color: #242527;
  border-radius: 24px;
}

.text-about-me {
  height: 196px;
  box-sizing: content-box;

  padding: 32px 32px 272px 32px;

  color: #fafafa;
  text-transform: uppercase;

  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.06em;
}

.color-word-1 {
  color: #ed3b44;
}

.color-word-2 {
  color: rgba(250, 250, 250, 0.4);
}

.img-about-me {
  border-radius: 24px;
}

.icon-about-me {
  box-sizing: content-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 9px;
  width: 16px;
  height: 16px;
}

.icon-about-me:hover {
  border-color: #fafafa;
}

/*--------- Triger ---------*/

.ac .ac-trigger {
  text-transform: uppercase;

  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;

  color: rgba(250, 250, 250, 0.4);
}

.ac-panel-item {
  padding-top: 8px;
}

.ac-panel-list {
  display: flex;
  flex-direction: column;

  row-gap: 32px;
}

.ac .ac-panel .ac-panel-item .ac-text {
  color: #fafafa;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  padding: 0;
}

.accordion-container .ac {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  margin-bottom: 32px;
  margin-top: 0;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 20px;
}

.ac:last-child {
  margin-bottom: 0;
}

.accordion-container .ac .ac-trigger {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0;
  color: rgba(250, 250, 250, 0.4);
}

.list-roles {
  display: flex;
  flex-direction: column;

  row-gap: 10px;
  padding-bottom: 32px;
}

.education-list {
  display: flex;
  flex-direction: column;

  row-gap: 10px;
  padding-bottom: 32px;
}

.education-list-item {
  max-width: 465px;
}

.accordion-container .ac .ac-trigger::after {
  content: '';
}

.accordion-container .ac.is-active > .ac-header .ac-trigger::after {
  content: '';
}

.icon-about-me {
  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ac.is-active .ac-trigger .icon-about-me {
  transform: rotate(180deg);
}
/* ----------Swiper------------ */
.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding-top: 32px;
  margin: auto;
}

.swiper.about-swiper {
  width: 260px;
  height: 130px;
}
.swiper-wrapper.custom-wrapper.swiper-list {
  scroll-behavior: smooth;
}

.swiper-slide.custom-slide.swiper-item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border-radius: 100%;
  border: 1px solid rgba(170, 164, 164, 0.2);
  width: 130px;
  height: 130px;
  margin-right: 0;
}
.custom-next {
  display: block;
  cursor: pointer;
  width: 28px;
  height: 28px;
  fill: none;
  stroke: #3b3b3b;
  stroke-width: 2px;
  opacity: 1;
}
.right-arrow.icon {
  transform: rotate(180deg);
}
.swiper-slide-active.custom-slide.swiper-item {
  background-color: #ed3b44;
  box-shadow: 0 1px 1px rgba(200, 200, 200, 0.5);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0 8px 16px rgba(0, 0, 0, 0.3),
    transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.skill {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}
/* --------tablet----------- */
@media only screen and (min-width: 768px) {
  .first-section-about-me {
    margin-bottom: 64px;
  }

  .img-about-me {
    width: 704px;
    height: 700px;
  }

  .text-about-me {
    width: 552px;
    height: 200px;

    padding: 64px 64px 436px 64px;

    font-size: 38px;
    line-height: 105%;
  }

  .icon-about-me {
    width: 20px;
    height: 20px;
  }

  /*--------- Triger ---------*/

  .ac {
    padding-bottom: 32px;
  }
  .about-wrapper {
    width: 704px;
    padding-top: 64px;
  }
  .swiper.about-swiper {
    width: 600px;
    height: 205px;
  }
  .swiper-slide.swiper-item {
    width: 200px;
    height: 200px;
  }
  .custom-next {
    width: 40px;
    height: 40px;
  }
  .skill {
    font-size: 20px;
  }
}
/* --------laptop----------- */
@media only screen and (min-width: 1440px) {
  .first-section-about-me {
    margin-bottom: 96px;
    flex-direction: row;
    column-gap: 16px;
  }

  .about-me-container {
    padding-top: 96px;
  }

  .text-about-me {
    width: 552px;
    height: 200px;
    box-sizing: content-box;

    padding: 64px 64px 436px 64px;

    color: #fafafa;
    text-transform: uppercase;

    font-size: 38px;
    line-height: 105%;
    letter-spacing: -0.06em;
  }

  /*--------- Triger ---------*/

  .ac {
    padding-bottom: 32px;
  }

  .ac-panel-item {
    padding-top: 0px;
  }

  .ac-panel-list {
    padding-left: 688px;
  }

  .list-roles {
    padding-left: 688px;
  }

  .education-list {
    padding-left: 688px;
  }

  .ac-panel-item {
    max-width: 612px;
  }

  .about-wrapper {
    padding-top: 96px;
    width: 1312px;
  }
  .swiper.about-swiper {
    width: 1200px;
  }
}
