.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: transparent;
  z-index: 50;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header.is-scrolled {
  position: fixed;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 32px;
  height: 112px;
}

.header.is-scrolled > .header-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 5px;
  height: 65px;
}

.logo-link {
  display: flex;
  gap: 8px;
}

.logo-img {
  border-radius: 18px;
  width: 80px;
  height: 80px;
}

.header.is-scrolled .logo-img {
  width: 55px;
  height: 55px;
  border-radius: 12px;
}

.desktop-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desktop-menu-btn {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: inherit;
  padding: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 39px;
  width: 60px;
  margin-bottom: 8px;
}

.desktop-menu-btn:hover,
.desktop-menu-btn:focus {
  color: #ed3b44;
}

.order-btn {
  display: block;
  border-radius: 60px;
  background-color: #ed3b44;
  padding: 18px 24px;
  width: 163px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background-color: #e0373f;
  box-shadow: 0px 5px 10px 0px rgba(250, 250, 250, 0.5);
}

.navigation-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-menu.is-open {
  opacity: 1;
  visibility: visible;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.header.is-scrolled .navigation-menu.is-open {
  padding: 5px 16px;
  border-radius: 12px;
  box-shadow: 0px 2px 5px 0px rgba(250, 250, 250, 0.2);
  background: linear-gradient(
    to top,
    #ed3b44,
    #69292d 32%,
    #1c1d20 50%,
    #1c1d20 100%
  );
}

.menu-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: #ed3b44;
}

.burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn-icon {
  stroke: #fafafa;
}

.burger-btn:hover .burger-btn-icon,
.burger-btn:focus .burger-btn-icon {
  stroke: #e0373f;
}

.mobile-menu {
  z-index: 500;
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #ed3b44,
    #69292d 32%,
    #1c1d20 50%,
    #1c1d20 100%
  );
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu::before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: -210px;
  width: 520px;
  height: 100%;
  background: repeating-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) 1px,
    rgba(0, 0, 0, 0.8) 5px,
    rgba(0, 0, 0, 0.9) 5px,
    rgba(0, 0, 0, 0.9) 6px,
    rgba(0, 0, 0, 0) 52px
  );
  pointer-events: none;
  opacity: 0.2;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
}

.close-btn {
  position: absolute;
  top: 32px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon {
  stroke: #fafafa;
}

.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
  stroke: #e0373f;
}

.mobile-navigation-menu {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-order-btn {
  display: block;
  position: absolute;
  font-size: 14px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 64px;
  border-radius: 60px;
  background-color: #ed3b44;
  padding: 14px 31px;
  width: 164px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-order-btn:hover,
.menu-order-btn:focus {
  background-color: #e0373f;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
  .desktop-menu {
    display: none;
  }

  .order-btn {
    display: none;
  }

  .menu-list {
    gap: 12px;
  }

  .menu-link {
    text-decoration: underline;
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}
