.hero {
    overflow: hidden;
    background-size: cover;
    background-image: url('../img/background/hero-mob.png');
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (min-resolution: 192dpi) and (min-width: 375px) {
    .hero {
        background-image: url('../img/background/hero-mob2x.png');
    }
}

.hero__wrapper {
    padding-top: 281px;
    padding-bottom: 32px;
    text-transform: uppercase;
}
.hero__inner {
    height: 499px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1.hero__text {
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__list {
    font-size: 14px;
    letter-spacing: -.02em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 4px;
}

.hero__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border: 1px solid rgba(250, 250, 250, .2);
    border-radius: 60px;
    width: 37px;
    height: 37px;
    padding: 10px 8px;
}
.hero__link:focus,
.hero__link:hover {
    background-color: #e0373f;
}

.hero__email {
    text-transform: lowercase;
    width: 178px;
    padding: 10px 12px;
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: url('../img/background/hero-tab.png');
    }
    
    @media screen and (min-resolution: 192dpi) and (min-width: 768px) {
        .hero {
            background-image: url('../img/background/hero-tab2x.png');
        }
    }

    .hero__wrapper {
        padding-top: 300px;
    }

    .hero__inner {
        height: 692px;
    }

    h1.hero__text {
        font-size: 90px;
    }

    .hero__list {
        justify-content: flex-end;
        font-size: 16px;
        gap: 8px;
    }

    .hero__link {
        padding: 18px 20px;
        width: 55px;
        height: 55px;
    }

    .hero__email {
        padding: 18px 24px;
        width: 223px;
    }

}

@media screen and (min-width: 1440px) {
    .hero {
        background-image: url('../img/background/hero-desc.png');
    }
    @media screen and (min-resolution: 192dpi) and (min-width: 1440px) {
        .hero {
            background-image: url('../img/background/hero-desc@2x.png');
        }
    }

    .hero__inner {
        height: 568px;
    }

    .hero__text {
        max-width: 1084px;
    }
}

/* animation */

.hero__animation--top {
    animation-name: down;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: both;
    opacity: 100%;
}

@keyframes down {
    0% {
        transform: translateY(-100%);
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

.hero__animation--right {
    animation-name: right;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: both;
    opacity: 100%;
}

@keyframes right {
    0% {
        transform: translateX(-100%);
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}