.projects {
  padding-top: 32px;
  padding-bottom: 32px;
}

.projects > .container > .title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.project-list > .project-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-item > .project-text {
  background-color: #fafafa;
  border-radius: 24px 24px 0 0;
  padding: 32px;
}

.project-text > .skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 96px;
}

.skills-list > .skill-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;

  height: 45px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #1c1d20;
}

.project-text > .slogan {
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  color: #1c1d20;
  margin-bottom: 32px;
}

.project-text > .main-project-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  /* padding: 13px 32px; */
  width: 141px;
  height: 45px;
  background-color: #ed3b44;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-text > .main-project-link:hover {
  background-color: #e0373f;
}

.project-picture {
  background-color: #242527;
  padding: 100px 16px;
  /* margin-bottom: 32px; */
  border-radius: 0 0 24px 24px;
}

.container .button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}

.container .button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fafafa80;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background-color: inherit;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: none;
  stroke: #fafafa80;
}

/* .container .button:hover {
  border: 2px solid rgba(250, 250, 250, 1);
} */

.right-icon {
  transform: rotate(180deg);
}

.button-disabled-projects {
  border-color: #fafafa33 !important;
}

.icon-disabled {
  stroke: #fafafa33;
}

@media screen and (min-width: 768px) {
  .project-list > .project-item {
    min-width: 704px;
  }

  .project-item > .project-text {
    min-width: 704px;
    padding: 64px;
  }

  .projects {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .skills-list > .skill-item {
    padding: 18px 18px;

    height: 55px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #1c1d20;
  }

  .project-text > .slogan {
    max-width: 494px;
    font-size: 44px;
    line-height: 1;
    margin-bottom: 32px;
  }

  .project-item > .project-picture {
    min-width: 704px;
    padding: 120px 45px;
  }

  .project-text > .main-project-link {
    width: 177px;
    height: 55px;
  }

  .container .button-wrapper {
    margin-top: 64px;
  }

  .icon {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .project-list > .project-item {
    min-width: 1376px;
  }

  .projects {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .project-item > .project-text {
    min-width: 688px;
    padding: 64px;
    border-radius: 24px 0 0 24px;
  }

  .project-item > .project-picture {
    min-width: 688px;
    padding: 120px 37px;
    margin: 0;
    border-radius: 0 24px 24px 0;
  }
}
