.reviews{
     padding-top: 96px;
     padding-bottom: 68px;
}


.reviews__heading{
	line-height: 24px;
	letter-spacing: 0.02em;
	margin-bottom: 24px;
}

.reviews__list{
	margin-bottom: 32px;
}

.reviews__item {
	height: 302px;
	overflow: hidden;
	padding: 32px 24px 32px 24px;
	border: 1px solid #FAFAFA33;
	border-radius: 20px;
}

.reviews__image{
	width: 48px;
	height: 48px;
	border-radius: 10px;
	margin-bottom: 24px;
}

.reviews__title{
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.02em;
	text-align: left;
	margin-bottom: 8px;
}

.reviews__text {
	height: 120px;
	overflow-y: auto;
	scrollbar-width: none;

	/* Приховую скролбар у Firefox */
	-ms-overflow-style: none;
	/* Приховую скролбар у IE і Edge */
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0.02em;
		text-align: left;
}

.reviews__text::-webkit-scrollbar {
	width: 0px;
}

.reviews__buttons{
	display: flex;
	justify-content: center;
}

.reviews__btn{
	display:flex ;
	justify-content: center;
	align-items: center;
	width: 52px;
	height: 52px;
	background-color: transparent;
	border: solid 1px #FAFAFA80;
	border-radius: 50%;
}

.reviews__btn--left{
	margin-right: 20px;
}

 .reviews__btn--disabled{
	border-color: #FAFAFA33;
}

 .reviews__icon {
	width: 24px;
	height: 24px;
	fill: none;
	stroke:#FAFAFA80 ;
}

@media screen and (min-width: 768px) {
	.reviews__btn{
	      width: 68px;
		height: 68px;
	}
	.reviews__icon {
		width: 32px;
		height: 32px;
	}
}

.reviews__icon--right {
	transform: rotate(180deg);
}

.reviews__icon--disabled {
	stroke:#FAFAFA33 ;
}

.reviews__error{
	display: none;
}

.reviews__error--text{
	color: #ED3B44;
	font-weight: 600;
	font-size: 48px;
	line-height: 48px;
	letter-spacing: 0.04em;
	text-align: center;
}

.mfp-hide {
	display: none;
}

/* Стилі для бекдропу */
.mfp-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1042;
}

.popup-container {
	background-color: #e0373f;
	padding: 20px;
	width: 100%;
	margin: 0 auto;
	border-radius: 10px;
	text-align: center;
	position: relative;
}
@media (min-width: 768px) {
	.popup-container {
	
		max-width: 800px;
	}
}

.mfp-close {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 24px;
	color: #ffffff !important;
	cursor: pointer;
}

.popup-image {
	max-width: 50%;
	height: auto;
	display: block;
	margin: 0 auto 15px auto;
	border-radius: 10px;
}

.popup-content h2 {
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 15px;
	letter-spacing: 0.04em;
}

.popup-content p {
	color: #ffffff;
	margin: 0;
	letter-spacing: 0.03em;
}
