.reviews{
     padding-top: 96px;
     padding-bottom: 68px;
}


.reviews__heading{
	line-height: 24px;
	letter-spacing: 0.02em;
	margin-bottom: 24px;
}

.reviews__list{
	margin-bottom: 32px;
}

.reviews__item {
	height: 302px;
	overflow: hidden;
	padding: 32px 24px 32px 24px;
	border: 1px solid #FAFAFA33;
	border-radius: 20px;
}

.reviews__image{
	width: 48px;
	height: 48px;
	border-radius: 10px;
	margin-bottom: 24px;
}

.reviews__title{
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.02em;
	text-align: left;
	margin-bottom: 8px;
}

.reviews__text {
	height: 120px;
	overflow-y: auto;
	scrollbar-width: none;

	/* Приховую скролбар у Firefox */
	-ms-overflow-style: none;
	/* Приховую скролбар у IE і Edge */
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0.02em;
		text-align: left;
}

.reviews__text::-webkit-scrollbar {
	width: 0px;
}

.reviews__buttons{
	display: flex;
	justify-content: center;
}

.reviews__btn{
	background-color: transparent;
	border: solid 1px #FAFAFA80;
	border-radius: 50%;
	padding: 18px;
}

.reviews__btn--left{
	margin-right: 20px;
}

 .reviews__btn--disabled{
	border-color: #FAFAFA33;
}

 .reviews__icon {
	fill: none;
	stroke:#FAFAFA80 ;
}

.reviews__icon--right {
	transform: rotate(180deg);
}

.reviews__icon--disabled {
	stroke:#FAFAFA33 ;
}

.reviews__error{
	display: none;
}

.reviews__error--text{
	color: #ED3B44;
	font-weight: 600;
	font-size: 48px;
	line-height: 48px;
	letter-spacing: 0.04em;
	text-align: center;
}



/* Загальний стиль для попапу */
.mfp-hide {
	display: none;
}

/* Стиль для зображення у попапі */
.popup-image {
	max-width: 80%;
	/* Обмеження максимального розміру зображення */
	height: auto;
	/* Зберігає пропорції зображення */
	display: block;
	margin: 0 auto;
	/* Вирівнює зображення по центру */
}

/* Стиль для контейнера з контентом у попапі */
.popup-content {
	background-color: white;
	/* Білий фон для текстового контенту */
	padding: 20px;
	/* Відступи всередині контейнера */
	max-width: 600px;
	/* Максимальна ширина текстового контенту */
	margin: 0 auto;
	/* Центрує контейнер по горизонталі */
	text-align: center;
	/* Вирівнює текст по центру */
	border-radius: 8px;
	/* Закруглені кути */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	/* Легкий тіньовий ефект */
}

/* Заголовок у попапі */
.popup-content h2 {
	margin-top: 0;
	/* Вирівнює заголовок */
	margin-bottom: 15px;
	/* Відступ знизу */
}

/* Текст у попапі */
.popup-content p {
	margin: 0;
	/* Видаляє відступи з усіх боків */
	line-height: 1.6;
	/* Міжрядковий інтервал для покращення читабельності */
}